<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/experiment_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Experiments</h3>
      <% if @experiments.any? %>
      <ol class="experiments">
        <%= render @experiments %>
      </ol>
      <%= will_paginate @experiments %>
    <% end %>
    </div>
  </div>
<% else %>
  <% provide(:title, 'Home') %>
  <div class="center hero-unit">
    <h1>Welcome to the HCMMW</h1>

    <h2>
      This is the home page for the HCMMW.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 
