<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.experiments.any? %>
      <h3>Experiments (<%= @user.experiments.count %>)</h3>
      <ol class="experiments">
        <%= render @experiments %>
      </ol>
      <%= will_paginate @experiments %>
    <% end %>
  </div>
</div>
